<div class="title-and-tabs">
    <% if @user == current_user %>
      <h1 class="page-title">
          Mes Collections
      </h1>
      <%# Barre de navigation (les tabs horizontaux) %>
      <div class="collections-scroll-container">
        <% @collections.each do |collection| %>
          <%= link_to collection.name, collection_path(collection),
            class: "collection-tab #{'active' if @current_collection.id == collection.id}" %>
      <% end %>
      </div>
    <% else %>
      <h1 class="page-title">
        Les collections de <%= @user.username %>
      </h1>
      <div class="collections-scroll-container">
        <% @collections.each do |collection| %>
          <%= link_to collection_path(collection),
            class: "collection-tab #{'active' if @current_collection.id == collection.id}" do %>
            <% if collection.name == "Mes jeux" %>
              <p>Ses jeux</p>
            <% else %>
              <%= collection.name %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    <% end %>

  <%# 2. Grille de jeux à 2 colonnes %>
  <div class="games-grid">
    <% if @games.any? %>
      <% @games.each do |game| %>
        <%# On appelle ta partial en lui passant la variable 'game' %>
        <% if @user == current_user %>
          <%= render "games/game_card", game: game, collection_game: @game_collection, current_collection: @current_collection, show_delete_btn: true %>
        <% else %>
          <%= render "games/game_card", game: game, collection_game: @game_collection, current_collection: @current_collection, show_add_btn: true %>
        <% end %>
      <% end %>
    <% else %>
      <p class="empty-msg">Aucun jeu dans cette collection.</p>
    <% end %>
  </div>

</div>
