<div class="game-card" <% if local_assigns[:show_add_btn] && user_signed_in? %>data-controller="dropdown" data-action="click@window->dropdown#close"<% elsif local_assigns[:show_delete_btn] && user_signed_in? %>data-controller="modal"<% end %>>
  <%= link_to game_path(game), class: "game-card__image-link" do %>
    <div class="game-card__image">
      <% if game.image_url_1.present? %>
        <%= image_tag game.image_url_1, alt: game.name %>
      <% end %>
    </div>
  <% end %>

<!-- ---------------------------
Button to add a game to a collection
---------------------------- -->

  <% if local_assigns[:show_add_btn] && user_signed_in? %>
    <div class="dropdown">
      <button class="game-card__add-btn" type="button" data-action="click->dropdown#toggle" data-dropdown-target="addBtn">+</button>
      <div class="dropdown__menu" data-dropdown-target="menu">
        <p class="dropdown__label">Ajouter à...</p>
        <% current_user.collections.each do |collection| %>
          <%= button_to add_game_collection_path(collection, game_id: game.id),
                method: :post,
                class: "dropdown__item",
                form: { data: { action: "submit->dropdown#handleAdd" } } do %>
            <%= collection.name %>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>

<!-- ---------------------------
Button to delete a game from a collection (only on collection show)
---------------------------- -->
  <% if local_assigns[:show_delete_btn] && user_signed_in? %>
    <button class="game-card__delete-btn" type="button" data-action="click->modal#open">
      <i class="fa-solid fa-trash"></i>
    </button>
    <div class="modal-overlay" data-modal-target="overlay" data-action="click->modal#backdropClose">
      <div class="modal-card">
        <p class="modal-card__title">Retirer le jeu ?</p>
        <p class="modal-card__message">Ce jeu sera retiré de la collection.</p>
        <div class="modal-card__actions">
          <button class="modal-card__cancel" data-action="click->modal#close">Annuler</button>
          <%= link_to collection_game_path(CollectionGame.find_by(collection: current_collection, game: game)),
            data: { turbo_method: :delete },
            class: "modal-card__confirm" do %>
            Retirer
          <% end %>
        </div>
      </div>
    </div>
  <% end %>

<!-- ---------------------------
Card itself
---------------------------- -->
  <div class="game-card__body">
    <%= link_to game_path(game), class: "game-card__title-link" do %>
      <h3 class="game-card__title"><%= game.name %></h3>
    <% end %>
    <div class="game-card__meta">
      <% if game.nb_players.present? %>
        <span class="game-card__pill game-card__pill--green">
          <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" fill="currentColor" viewBox="0 0 16 16">
            <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
            <path fill-rule="evenodd" d="M5.216 14A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216z"/>
            <path d="M4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z"/>
          </svg>
          <%= game.nb_players %>
        </span>
      <% end %>
      <% if game.play_time_minutes.present? %>
        <span class="game-card__pill game-card__pill--yellow">
          <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" fill="currentColor" viewBox="0 0 16 16">
            <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
            <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/>
          </svg>
          <%= game.play_time_minutes %>
        </span>
      <% end %>
    </div>
  </div>
</div>
