<div class="row">
<% @games.each do |g| %>
  <div class="col-3 m-3 rounded">
    <p><%= g.name %></p>
    <p><%= g.video_url %></p>
    <p><%= g.age_player %></p>
    <p><%= g.nb_players %></p>
   <%# <p><%= g.description ></p> %>
    <p><%= g.play_time_minutes %></p>


  </div>
<% end %>
</div>
