<div class="game-show-container">
  <%# 1. Zone Image (Carrousel) %>

  <div class="game-hero">
 <%# On ajoute data-controller="swiper" sur l'élément parent %>
<div class="swiper game-carousel" data-controller="swiper">
  <div class="swiper-wrapper">
    <% @game.photo_urls.each do |url| %>
      <div class="swiper-slide">
        <%= image_tag url, class: "carousel-img" %>
      </div>
    <% end %>
  </div>

  <div class="swiper-pagination"></div>
</div>


  <%# Pagination points %>

</div>
  </div>

  <div class="game-content">
    <%# 2. Tag catégorie %>
    <div class="category-tag"><%= @game.theme %></div>
    <%# 3. Grille d'infos (Les 4 petits carrés) %>
    <div class="info-grid">
      <div class="info-card">
        <i class="icon-users"></i>
        <strong><%= "#{@game.nb_players_min} à #{@game.nb_players_max}" %></strong><br><span>JOUEURS</span>
      </div>
      <div class="info-card">
        <i class="icon-clock"></i>
        <strong><%= @game.play_time_minutes %></strong><br><span>DURÉE</span>
      </div>
      <div class="info-card">
        <i class="icon-sword"></i>
        <strong>
  <% if @game.is_cooperative? %>
    Cooperatif
  <% else %>
    Compétitif
  <% end %>
</strong>
<br>
<span>MODE</span>
      </div>
      <div class="info-card">
        <i class="icon-cap"></i>
        <strong><%= @game.level %></strong><br><span>NIVEAU</span>
      </div>
    </div>

    <%# 4. Description %>
    <h2>Description</h2>
    <p><%= @game.description %></p>

    <%# 5. Section Achat %>
        <small>PRIX INDICATIF</small>
        <div class="price"><%= @game.price %>€</div>
      </div>
    <h2>Jeux similaires</h2>
    <div class="games-grid">
        <% @similar_games.each do |game| %>
          <%= render "games/game_card", game: game, show_add_btn: true %>
        <% end %>
    </div>
  </div>
